footer.footer 
	.section_in 
		.footer_main
			.footer_copyright © Все права защищены, 2022
			.footer_brand 
				a(href="#")
					p Разработано arkada-web.ru
					.footer_brand_icon 
						img(src="i/brand.png", alt="")