.hero {
	position: relative;
	@include border;
}
.hero_img {
	@include absolute;
	@include mask;
	img {
		object-fit: cover;
		height: 100%;
		opacity: 0;
		z-index: -1;
	}
}
.hero_main {
	z-index: 2;
	width: 100%;
	@include flex-center;
	height: 93.7rem;
	margin-bottom: 3.1rem;
	position: relative;
	z-index: 2;
	@include bp($point_2)  {
		min-height: -webkit-fill-available;
	}
	@include bp($point_4) {
		// height: calc(100vh - 6rem);
		height: auto;
		min-height: 50rem;
	}
}
.hero_logotype {
	width: 100%;
	height: 100%;
	max-width: 50rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 8.9rem;
	// opacity: 0;
	svg {
		width: 100%;
		height: 100%;
	}
	@include bp($point_4) {
		max-width: 30rem;
		width: 100%;
	}
}

.team {
	@include border;
	position: relative;
	// @include bp($point_4) {
	// 	order: 10;
	// }
}


.logo_grey {
	max-width: 24rem;
	position: absolute;
	top: 2.5rem;
	right: 10rem;
	width: 100%;
	z-index: 3;
	@include bp($point_2) {
		right: 2rem;
		max-width: 15rem;
	}
	@include bp($point_4) {
		top: 1.5rem;
		max-width: 10rem;
	}
}
.team_main {
	padding: 17.5rem 0 14.5rem 0;
	@include flex-start;
	align-items: flex-start;
	@include bp($point_2) {
		flex-direction: column;
		padding: 12rem 0;
	}
}
.team_content {
	max-width: 73.3rem;
	margin-right: 14.7rem;
	@include bp($point_2) {
		margin: 0 0 10rem 0;
	}
	@include bp($point_4) {
		margin-bottom: 6rem;
	}

	h2 {
		margin-bottom: 4rem;
		@include bp($point_4) {
			margin-bottom: 2rem;
		}
	}
}
.block_relative {
	position: relative;
}

.team_people_w {
	width: 100%;
}
.team_people {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
	grid-gap: 4rem;
	width: 100%;
	@include bp($point_2) {
		grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
		grid-gap: 2rem;
	}

	@include bp($point_4) {
		grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
		grid-gap: 1rem
	}
 
	h3 {
		font-size: 2.5rem;
		text-align: center;
		@include bp($point_4) {
			font-size: 1.4rem;
		}
	}

	li {
		@include bp($point_4) {
			@include flex-center;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}
	}
}
.team_people {
}
.people_img {
	width: 100%;
	height: 54.2rem;
	margin-bottom: 2rem;
	@include bp($point_4) {
		height: 100%;
		@include flex-center;
		overflow: hidden;
	}
}
.people_img {
}
.projecthead {
	position: relative;
	@include border;
}
.projecthead_main {
	@include flex-center;
	padding: 42.9rem 0;
	@include bp($point_2) {
		padding: 30rem 0;
	}
	@include bp($point_4) {
		padding: 20rem 0;
	}
}

.block-one {
	position: relative;
}
.block-shape {
	opacity: 0;
}
.block-one__img {
	width: 100%;
	// opacity: 0;
	height: 93.1rem;
	@include border;
	@include bp($point_4) {
		height: auto;
	}
}
.block-content {
	position: relative;
	@include flex-space;
	align-items: flex-start;
	@include border;
	@include bp($point_2) {
		flex-direction: column;
	}

	.content {
		padding: 9rem 14.7rem 9rem 10rem;
		max-width: 84rem;
		@include bp($point_2) {
			padding: 12rem 2rem;
			@include border;
			max-width: 90%;
		}

		@include bp($point_4) {
			padding: 6rem 2rem;
		}

		h2, h3, h4, h5, h6 {
			font-size: 5rem;
			margin-bottom: 4rem;
			@include bp($point_4) {
				font-size: 3rem;
			}
			@include bp($point_4) {
				margin-bottom: 2rem;
			}
			@include bp($point_6) {
				font-size: 2.2rem;
			}
		}
	}
}

.block-content__img {
	width: 100%;
	max-width: 83.3rem;
	@include bp($point_2) {
		position: relative;
		max-width: 100%;
	}
}
.free_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
	@include border;

	li {
		height: 93.1rem;
		@include bp($point_4) {
			height: 17.9rem;
		}
		img {
			@include bp($point_4) {
				height: 100%;
			}
		}
		&:not(:last-child) {
			border-right: .6rem solid $grey2;
			@include bp($point_4) {
				border-right: .3rem solid $grey2;
			}
		}
	}
}
.free_item {
}
.two_list {
	display: grid;
	@include border;
	grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	@include bp($point_4) {
		height: 20.3rem;
	}
	li {
		&:not(:last-child) {
			border-right: .6rem solid $grey2;
			@include bp($point_4) {
				border-right: .3rem solid $grey2;
			}
		}
	}
}
.two_item {
	height: 93.1rem;
	@include bp($point_4) {
		height: 100%;
		overflow: hidden;
	}
	img {
		@include bp($point_4) {
			height: 100%;
		}
	}
}

.build_grid {
	grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	@include bp($point_4)  {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
	li {
		&:nth-child(1) {
			@include bp($point_4) {
				border: none;
				border-bottom: .3rem solid $grey1;
			}
			@include bp($point_4) {
				height: auto;
			}

			img {
				@include bp($point_4) {
					height: auto;
				}
			}
		}
		&:nth-child(2) {
			height: 54.9rem;
			@include bp($point_4) {
				height: auto;
			}

			img {
				@include bp($point_4) {
					height: auto;
				}
			}
		}
		&:nth-child(3) {
			height: 38.2rem;
			@include bp($point_4) {
				height: auto;
			}

			img {
				@include bp($point_4) {
					height: auto;
				}
			}

		}
		&:nth-child(1) {
			grid-row: 1 / 4;
			@include bp($point_4) {
				grid-row: auto;
			}
		}
		&:nth-child(2) {
			@include border;
			border-right: 0;
		}
	}
}

.right_small_col {
	grid-template-columns: 108.7rem 82.7rem;
	@include bp($point_2) {
		grid-template-columns: 65% 45%;
	}
}

.left_small_col {
	grid-template-columns: 82.7rem 108.7rem;
	@include bp($point_2) {
		grid-template-columns: 45% 65%;
	}
}

.dark-block_one {
	@include bp($point_4) {
		height: 30rem;
		@include flex-center;
	}
	.block-one__img {
		@include mask;
		@include absolute;

		img {
			@include bp($point_4) {
				height: 100%;
			}
		}
	}
	h2 {
		position: relative;
		@include flex-center;
		width: 100%;
		z-index: 2;
	}
}

.block_one_title {
	padding: 40rem 0;
	@include flex-center;
	position: relative;
	height: 100vh;
	z-index: 3;
	@include bp($point_2) {
		padding: 30rem 0;
		height: auto;
	}
	@include bp($point_4) {
		padding:  0;
	}

	h2, h3, h4, h5, h6 {
		color: $white;
		text-align: center;
		@include bp($point_2) {
			padding: 0 2rem;
		}
		@include bp($point_6) {
			font-size: 2.2rem;
		}
	}
}

.serviceHead {
	@include border;
}
.service {
	@include border;
	.section_in {
		margin-right: 0;
		@include bp($point_2) {
			padding: 0;
		}
	}
}
.service_main {
	@include flex-space;
	align-items: flex-start;
	@include bp($point_2) {
		flex-direction: column;
	}
}
.service_list {
	margin-right: 29.6rem;
	counter-reset: item;
	padding-top: 20rem;
	@include bp($point_2) {
		margin: 0 0 12rem 2rem;
		padding-top: 0;
		order: 1;
	}
	li {
		font-family: $font_1;
		position: relative;
		&:before {
			counter-increment: item; /* Увеличиваем счетчик*/
			content: "#" counter(item);
			margin-right: 2.7rem;
			@include bp($point_2) {
				margin-right: 2rem;
			}
		}
		&:not(:last-child) {
			margin-bottom: 4rem;
			@include bp($point_2) {
				margin-bottom: 2rem;
			}
		}
	}
}
.service_img {
	height: 93.1rem;
	@include bp($point_2) {
		width: 100%;
		height: 100%;
		margin-bottom: 10rem;
	}
}
.public {
	@include border;
	// @include bp($point_4) {
	// 	order: 11;
	// }
}
.public_main {
	padding: 26rem 0 35.9rem 0;
	@include bp($point_2) {
		padding: 30rem 0;
	}
	@include bp($point_4) {
		padding: 20rem 0;
	}

	h3 {
		margin-bottom: 9rem;
		@include bp($point_2) {
			margin-bottom: 5rem;
		}
	}
}
.public_list {
	@include flex-start;
	flex-wrap: wrap;
	column-gap: 4.5rem;
	@include bp($point_4) {
		column-gap: 2rem
	}@include bp($point_6)  {
		column-gap: 1rem;
	}
	li {
		@include flex-center;
		width: 100%;
		&:nth-child(1) {
			max-width: 24.8rem;
			@include bp($point_2) {
				max-width: 10rem;
			}
			@include bp($point_6) {
				max-width: 8rem;
			}
			@include bp($point_8) {
				max-width: 5rem;
			}
		}
		&:nth-child(2) {
			max-width: 38.1rem;
			@include bp($point_2) {
				max-width: 15rem;
			}
			@include bp($point_6) {
				max-width: 12rem;
			}
			@include bp($point_8) {
				max-width: 8rem;
			}
		}
		&:nth-child(3) {
			max-width: 45.8rem;
			@include bp($point_2) {
				max-width: 19rem;
			}
			@include bp($point_6) {
				max-width: 13rem;
			}
			@include bp($point_8) {
				max-width: 9.5rem;
			}
		}
		a {
			@include flex-center;
			width: 100%;
			height: 100%;
		}
		
	}
}
.contacts {
	position: relative;
	// @include bp($point_4) {
	// 	order: 12;
	// }
}
.contacts_main {
	padding: 26rem 0 40.8rem 0;
	@include bp($point_2) {
		padding: 30rem 0;
	}

	@include bp($point_4) {
		padding: 20rem 0;
	}

	h3 {
		margin-bottom: 9rem;
		@include bp($point_2) {
			margin-bottom: 5rem;
		}
		@include bp($point_4) {
			margin-bottom: 3rem;
		}
	}
}
.contacts_list {
	@include flex-start;
	@include bp($point_4) {
		flex-direction: column;
		align-items: flex-start;
	}
	li {
		a {
			font-size: 2.8rem;
			@include bp($point_4) {
				font-size: 2rem;
			}
		}
		&:not(:last-child) {
			margin-right: 7rem;
			@include bp($point_4) {
				margin: 0 0 2rem 0;
			}
		}
	}
}