//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);
}

html {
	height: 100%;
	font: 400 calc(100vw / 1920 * 10)/1.33 $font_1;
	@include bp($point_2) {
		font-size: 10px;
	}
}

body {
	position: relative;
	display: flex;

	height: 100%;
	font-size: $font_size_base;

	color: $color_text_base;
	-webkit-text-size-adjust: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	overflow-x: hidden;
	cursor: none; 

	@supports (display: grid) {
		display: block;
	}
	@include bp($point_4) {
		font-size: 1.6rem;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;
	overflow-x: hidden!important;
}

.base {
	width: 100%;
	position: relative;
	// padding: $header 0 0;

	flex: 1 0 auto;
	@include bp($point_4) {
		// @include flex-start;
		display: flex;
		flex-direction: column;
	}
}

a {
	text-decoration: none;
	color: $color_link_base;
	transition: all .3s ease;
	cursor: none;

	&:hover,
	&:focus {
		text-decoration: none;
		transition: all .3s ease;
	}

}

button {
	// cursor: pointer;
}

.not_footer {
	footer {
		display: none;
	}
}


body::-webkit-scrollbar-track {
	background-color: $grey2;
}

body::-webkit-scrollbar
{
	width: .8rem;
	background-color: $grey2;
}

body::-webkit-scrollbar-thumb {
	background-color: $dark;
}



//------------------------------------------------------------base styles###